body{
    width: auto;
    height: auto;
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
h1{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 2px solid black;
    /* background-color: yellow; */
}
button{
    justify-content: center;
    align-items: center;
    padding:  2px 15px;
    font-weight: 800;
    margin: 10px;
}
